@import "tailwindcss";

body {
    background-color: #121213;
    color: #f1f1f1;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.terminalBG {
    background: radial-gradient(#191818, #191717);
}

.noScrollbar::-webkit-scrollbar {
    display: none;
}

.font-primary {
    font-family: 'Imprima', sans-serif
}

.font-heading {
    font-family: 'Kode Mono', monospace
}